/* CUSTOMERS */
.customers {
  margin-bottom: 233px;
}

.customers__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  @media only screen and (max-width: $desktop) {
    justify-content: space-between;
  }

  @media only screen and (max-width: $tablet) {
    flex-direction: column;
  }
}

.customers__image {
  max-width: 478px;
  width: 100%;
  height: auto;
  border-radius: 60px;
  margin-right: 68px;

  @media only screen and (max-width: $desktop) {
    margin-right: 50px;
    max-width: 430px;
  }

  @media only screen and (max-width: $tablet-l) {
    margin-right: 36px;
    max-width: 390px;
  }

  @media only screen and (max-width: $tablet) {
    margin-right: 0;
    margin-bottom: 24px;
    max-width: none;
  }
}

.customers__content {
  max-width: 565px;
  color: var(--secondary-text-color);

  @media only screen and (max-width: $desktop) {
    max-width: 524px;
  }

   @media only screen and (max-width: $tablet) {
   max-width: none;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
  }
}

.customers__title {
  margin-top: 0;
  margin-bottom: 35px;
  font-size: 45px;
  font-weight: 500;
  line-height: normal;

  @media only screen and (max-width: $desktop) {
    font-size: 39px;
  }

  @media only screen and (max-width: $tablet-l) {
    font-size: 32px;
    margin-bottom: 10px;
  }

  @media only screen and (max-width: $tablet) {
    font-size: 27px;
  }

  @media only screen and (max-width: $mobile) {
    font-size: 22px;
  }
}

/* CUSTOMER INFO */
.customer-info {
  display: flex;
  align-items: center;
  text-align: left;
}

.customer-info__pic {
  max-width: 134px;
  width: 100px;
  height: auto;
  margin-right: 33px;
  border-radius: 50%;

  @media only screen and (max-width: $desktop) {
    max-width: 114px;
    margin-right: 28px;
  }

  @media only screen and (max-width: $tablet-l) {
    max-width: 94px;
    margin-right: 22px;
  }

  @media only screen and (max-width: $tablet) {
    max-width: 88px;
    margin-right: 20px;
  }

  @media only screen and (max-width: $mobile) {
    max-width: 75px;
    margin-right: 15px;
  }
}

.customer-info__name {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 33px;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;

  @media only screen and (max-width: $desktop) {
    font-size: 29px;
  }

  @media only screen and (max-width: $tablet-l) {
    font-size: 25px;
    margin-bottom: 10px;
  }

  @media only screen and (max-width: $tablet) {
    font-size: 21px;
  }

  @media only screen and (max-width: $mobile) {
    font-size: 20px;
  }
}

.customer-info__location {
  margin: 0;
  line-height: 1;
  font-weight: 400;
  opacity: 0.5;
}

.customers__desc {
  max-width: 491px;
  font-size: 22px;
  font-weight: 500;
  opacity: 0.5;

  @media only screen and (max-width: $desktop) {
    font-size: 19px;
    max-width: none;
  }

  @media only screen and (max-width: $tablet-l) {
    font-size: 18px;
    margin-bottom: 10px;
  }

  @media only screen and (max-width: $tablet) {
    font-size: 17px;
  }

  @media only screen and (max-width: $mobile) {
    font-size: 16px;
  }
}

.customers__rating {
  display: flex;
  align-items: center;
}

.customers__rating-icon {
  max-width: 49px;
  width: 100%;
  height: auto;

  &:not(:last-child) {
    margin-right: 8px;
  }

  @media only screen and (max-width: $desktop) {
    max-width: 42px;
  }

  @media only screen and (max-width: $tablet-l) {
    max-width: 33px;
  }

  @media only screen and (max-width: $tablet) {
    max-width: 29px;
  }

  @media only screen and (max-width: $mobile) {
    max-width: 24px;
  }
}
