/* HEADER */
.header {
  padding: 44px 0;
  margin-bottom: 42px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin-right: 25px;
}

.header__nav {
  color: #fff;
}

/* HEADER-ACTIONS */
.header__actions {
  display: flex;
  align-items: center;
  color: #fff;
}

.header__link {
  font-size: 15px;
  font-weight: 500;
  line-height: normal;

  &:not(:last-child) {
    margin-right: 25px;
  }
}
