/* HEADER */
.header {
  padding: 44px 0;
  margin-bottom: 42px;

  @media only screen and (max-width: $tablet-l) {
    padding: 34px 0;
  }

  @media only screen and (max-width: $tablet) {
    padding: 24px 0;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin-right: 25px;

  @media only screen and (max-width: $tablet-l) {
    margin-right: 20px;
  }
}

.header__nav-open {
  display: none;

  @media only screen and (max-width: $tablet) {
    display: flex;
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    outline-color: #fff;

    img {
      width: 30px;
      height: 30px;
    }
  }
}

.header__nav {
  position: relative;
  z-index: 100;
  color: #fff;
  margin-right: 25px;

  @media only screen and (max-width: $tablet) {
    margin-right: 0;
    display: none;
    min-height: 100%;
    background-color: #fff;
    width: 100%;
    position: fixed;
    inset: 0;
    padding: 40px;

    &--open {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: #000;
    }
  }

  @media only screen and (max-width: $mobile) {
    padding: 20px;
  }

  .nav__list {
    @media only screen and (max-width: $tablet) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .nav__item {
    @media only screen and (max-width: $tablet) {
      margin-right: 0;
      margin-bottom: 8px;
    }
  }

  .nav__link {
    &:not(:last-child) {
      margin-bottom: 14px;
    }

    @media only screen and (max-width: $tablet) {
      font-size: 20px;
    }
  }
}

/* HEADER-ACTIONS */
.header__actions {
  display: flex;
  align-items: center;
  color: #fff;

  @media only screen and (max-width: $tablet) {
    display: none;
  }
}

.header__link {
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  color: inherit;

  &:not(:last-child) {
    margin-right: 25px;
  }
}
