/* LOGO */
.logo {
  display: flex;
  text-decoration: none;
}

.logo__img {
  display: block;
}

/* HEADER */
.header {
  padding: 44px 0;
  margin-bottom: 42px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin-right: 25px;
}

// nav
.nav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item:not(:last-child) {
  margin-right: 80px;
}

.nav__link {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  position: relative;
  padding-bottom: 5px;
  transition: opacity var(--transition-duration) ease;

  &::after {
    content: "";
    position: absolute;
    top: 90%;
    left: 0;
    display: inline-block;
    width: 90%;
    height: 4px;
    background-color: #c4c4c4;
    border-radius: 100px;
    transform: scale(0);
    transform-origin: right;
    transition: transform var(--transition-duration) ease;
  }

  &:hover {
    opacity: 0.8;

    &::after {
      transform: scale(1);
      transform-origin: left;
    }
  }

  &:active {
    opacity: 0.6;
  }
}

/* HEADER-ACTIONS */
.header__actions {
  display: flex;
  align-items: center;
  color: #fff;
}

.header__link {
  font-size: 15px;
  font-weight: 500;
  line-height: normal;

  &:not(:last-child) {
    margin-right: 25px;
  }
}
