.subscribe {
  margin-bottom: 32px;

  @media only screen and (max-width: $tablet) {
    margin-bottom: 24px;
  }
}

.subscribe__container {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.subscribe__heading {
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 55px;
  font-weight: 600;
  line-height: normal;

  @media only screen and (max-width: $desktop) {
    font-size: 44px;
    margin-bottom: 48px;
  }

  @media only screen and (max-width: $tablet-l) {
    font-size: 36px;
    margin-bottom: 38px;
  }

  @media only screen and (max-width: $tablet) {
    font-size: 28px;
    margin-bottom: 30px;
  }

  @media only screen and (max-width: $mobile) {
    font-size: 22px;
    margin-bottom: 24px;
  }
}

.subscribe__form {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 35px;
  padding: 12px 15px 12px 45px;

  @media only screen and (max-width: $desktop) {
    padding: 11px 14px 11px 38px;
    border-radius: 28px;
  }

  @media only screen and (max-width: $tablet-l) {
    padding: 10px 14px 10px 32px;
    border-radius: 24px;
  }

  @media only screen and (max-width: $tablet) {
    padding: 10px 12px 10px 24px;
    border-radius: 24px;
  }

  @media only screen and (max-width: $mobile) {
    padding: 10px 12px;
    border-radius: 20px;
    flex-direction: column;
    width: 100%;
  }
}

.subscribe__input {
  border: none;
  background-color: transparent;
  margin-right: 180px;
  outline: none;

  &::placeholder {
    color: var(--secondary-text-color);
    font-size: 24px;
    font-weight: 500;
    opacity: 0.5;

    @media only screen and (max-width: $desktop) {
      font-size: 23px;
    }

    @media only screen and (max-width: $tablet-l) {
      font-size: 21px;
    }

    @media only screen and (max-width: $tablet) {
      font-size: 19px;
      font-weight: 400;
    }

    @media only screen and (max-width: $mobile) {
      text-align: center;
      font-size: 16px;
    }
  }

  @media only screen and (max-width: $desktop) {
    margin-right: 160px;
  }

  @media only screen and (max-width: $tablet-l) {
    margin-right: 145px;
  }

  @media only screen and (max-width: $tablet) {
    margin-right: 115px;
  }

  @media only screen and (max-width: $mobile) {
    text-align: center;
    flex-grow: 1;
    width: 100%;
    margin-right: 0;
    margin-bottom: 24px;
    padding: 8px;
  }
}

.subscribe__button {
  @media only screen and (max-width: $mobile) {
    width: 100%;
  }
}
